@import url(./animation.css);
@import url(./tooltip.css);
@import url(./message.css);
@import url(./clipboard.css);

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scroll-thumb);
  border-radius: 0.25em;
}

:root {
  --c-bg: #F3F7FD;
  --main-bg: white;
  --c-scroll-thumb: #b9b9b9;
  --c-text-slate: rgb(148, 163, 184);
}

html {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  background-color: var(--c-bg);
  color: var(--c-fg);
}

header,
#message-container-img {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #2E2F39;
  --main-bg: #2E2F39;
  --c-scroll-thumb: #4c4c4c;
}

.light main {
  background: white;
}

.light #message-container-img {
  background: white;
}

.light #message-container {
  background: white;
}

.light aside {
  background: white;
}

.light .input-box-pos {
  bottom: 20px;
}

@media (max-width: 768px) {
  .light .input-box-pos {
    bottom: 0;
  }

  .bg-mask {
    display: none;
  }

}

.dark .bg-mask {
  display: none;
}

.light a {
  background: rgba(65, 129, 255, 0.05);
  color: #666666 !important;
}

.light .nav-text {
  color: #011d54 !important;
}

.light a:hover {
  background: #4181FF26;
}

.light .custom-a-bg {
  color: #4181FF !important;
  background: rgba(65, 129, 255, 0.19) !important;
  border: 1px solid rgba(65, 129, 255, 1);
}

.light .selected {
  background: #4181FF26;
  color: #666666 !important;
}

.light .selected:hover {
  background: #4181FF26;
}

.light .gradien-div {
  display: none;
}

.light .load-more {
  background-color: rgba(65, 129, 255, 1);
}

.light .input-field {
  color: #666666;
}

/**
body {
  max-width: 72ch;
  margin: 0 auto !important;
}
*/

* {
  -webkit-tap-highlight-color: transparent;
}

/* html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
} */