---
import Layout from "~/layouts/Layout.astro"
import Login from "~/components/Login"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
---

<Layout title="ChatGPT登录">
  <main class="before sm:pt-8em py-2em">
    <Login client:visible />
  </main>
</Layout>
